.btn {
    padding: 16px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    transform: translateY(4px);
    border: 1px solid black;
}

.btn-outline-primary {
    background-color: white;
    border-radius: 15px;
    color: black;
}

.btn-outline-primary:hover {
    background-color: #ee6f26;
    color: white;
}