body {
    background-color: rgb(177, 129, 209);
}

h1 {
    color: black;
}

.name {
    text-decoration-color: black;
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
    font-size: 50px;
    position: absolute;
    top: 5%;
    left: 6vw;
    letter-spacing: 13px;
}